{% extends "pos/layout.html" %}

{% block title %}Add Product Category{% endblock %}

{% block content %}
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3"></h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="#">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:dashboardpage' %}">Home</a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="#">Add Product Category</a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form method="post" action="{% url 'product:addcategory' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" id="categoryForm" novalidate>
            <div class="card-header">
              <div class="card-title">Add Product Category</div>
            </div>
            <div class="card-body">
                {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
              <div class="row">
                <div class="col-md-6">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        {{ form.description }}
                    </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  // JavaScript for form validation
  (function () {
    'use strict'
    window.addEventListener('load', function () {
      var form = document.getElementById('categoryForm')
      form.addEventListener('submit', function (event) {
        // Check validity of the form before submitting
        if (form.checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        // Add Bootstrap validation class to show validation feedback
        form.classList.add('was-validated')
      }, false)
    }, false)
  })()
</script>

{% endblock %}
