{% extends "pos/layout.html" %}

{% block title %}Userslist{% endblock %}

{% block content %}
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3"></h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="#">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:dashboardpage' %}">home</a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="">Add Group </a>
          </li>
        </ul>
      </div>


            
          

      <div class="row">
        <div class="col-md-12">
            {% if messages %}
            <div class="mt-4">
              {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Add A New Group</h4>
            </div>
            <div class="card-body">
                

              
                <form method="post" action="{% url 'permissions:add_group'%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="group_name">Group Name:</label>
                        <input type="text" name="group_name" id="group_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="apps">Select Apps:</label>
                        <div id="apps">
                            {% for app_label in all_app_labels %}
                            <div class="form-check">
                                <input type="checkbox" name="apps" value="{{ app_label }}" id="app_{{ app_label }}" class="form-check-input">
                                <label for="app_{{ app_label }}" class="form-check-label">{{ app_label|title }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Group</button>
                </form>
                
                
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>





     

{% endblock %}