{% extends "pos/layout.html" %}

{% block title %}Users List{% endblock %}

{% block content %}
<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3"></h3>
        <ul class="breadcrumbs mb-3">
          <li class="nav-home">
            <a href="#">
              <i class="icon-home"></i>
            </a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard:dashboardpage' %}">Home</a>
          </li>
          <li class="separator">
            <i class="icon-arrow-right"></i>
          </li>
          <li class="nav-item">
            <a href="#">Edit User</a>
          </li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <form method="post" action="{% url 'users:editusers' user.id %}" id="editUserForm" novalidate>
            <div class="card-header">
              <div class="card-title">Edit User</div>
            </div>
            <div class="card-body">
                {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="row">
                <div class="col-md-6">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        {{ form.last_name }}
                    </div>
                  <div class="form-group">
                    <label for="email2">Email Address</label>
                    {{ form.email }}
                  </div>
                  <div class="form-group">
                    <label for="email2">Role</label>
                    {{ form.role }}
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        {{ form.confirm_password }}
                    </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // JavaScript for form validation
    (function () {
      'use strict'
      window.addEventListener('load', function () {
        var form = document.getElementById('editUserForm')
        form.addEventListener('submit', function (event) {
          // Check validity of the form before submitting
          if (form.checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
          }
          // Add Bootstrap validation class to show validation feedback
          form.classList.add('was-validated')
        }, false)
      }, false)
    })()
  </script>

{% endblock %}
